@import "tailwindcss";

@theme inline {
    --color-foreground: #141414;
    --color-background: #fdfdfd;
    --color-gold: oklch(0.82 0.18 78);
}

body {
    @apply bg-background text-foreground;
}


